.advantages {
	padding: 31px 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.advantages__title {
	margin: 0;
}

.advantages__item {
	padding-top: 83px;
}

.advantages__list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: repeat(2, auto);
	}
}
