.advantages {
	margin-bottom: 28px;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.advantages__wrapper {
	width: 260px;
	margin-bottom: 58px;
}

.advantages__title {
	margin-bottom: 28px;
}

.advantages__list {
	@include list-reset;
}

.advantages__item {
	margin-bottom: 30px;
}
