.button {
	box-sizing: border-box;
	height: 52px;
	padding: 15px 70px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #444444;
	border: 2px solid #444444;
	background-color: transparent;
	cursor: pointer;

	@media #{$not-mobile} {
		width: 292px;
		font-size: 17px;
	}

	&:hover {
		color: #ffffff;
		background-color: #444444;
	}

	&:active {
		opacity: 30%;
	}
}
