.buy {
	display: flex;
	justify-content: space-between;
}

.buy__price {
	padding-top: 23px;
	padding-bottom: 27px;
	padding-left: 25px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;

	@media #{$not-mobile} {
		font-size: 17px;
	}
}

.buy__button {
	width: 20px;
	height: 20px;
	margin-right: 27px;
	align-self: center;
	mask-image: url("../../icons/stack.svg#cart");
	background-color: #000000;
	opacity: 20%;

	&:hover {
		background-color: #63d1bb;
		opacity: 100%;
	}

	&:active {
		opacity: 30%;
	}
}
