.buy {
  display: flex;
  justify-content: space-between;
}

.buy__price {
  padding-top: 23px;
  padding-bottom: 27px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--main-color);

  @media #{$not-mobile} {
    padding-left: 0;
    padding-top: 24px;
    padding-bottom: 23px;
    font-size: 17px;
  }

  @media #{$desktop-only} {
    padding: 19px 0 24px;
  }
}

.buy__button {
  margin-right: 27px;
  align-self: center;

  @media #{$not-mobile} {
    margin-right: 30px;
  }

  &:hover {
    --icon-fill: var(--accent-color);
    --icon-opacity: 100%;
  }

  &:active {
    --icon-opacity: 30%;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    mask-image: url("../../icons/stack.svg#cart");
    background: var(--icon-fill, var(--main-color));
    opacity: var(--icon-opacity, 20%);
  }
}
