.card {
	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr auto;
	}

	@media #{$desktop-only} {
		display: block;
	}
}

.card__link-img {
	@media #{$tablet-only} {
		grid-column: 1/2;
		grid-row: 1/-1;
	}
}

.card__title {
	margin: 0;
	padding-top: 27.5px;
	padding-left: 25px;
	padding-bottom: 6px;

	@media #{$tablet-only} {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}

.card__description {
	padding-left: 25px;
	font-size: 13px;
	line-height: 30px;

	@media #{$tablet-only} {
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

.card__buy {
	@media #{$tablet-only} {
		grid-column: 2/3;
		grid-row: 3/4;
	}
}

.card__price {
	padding-top: 22.5px;
	padding-bottom: 28.5px;
	padding-left: 25px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;

	@media #{$tablet-only} {
		grid-column: 2/3;
		grid-row: 3/4;
	}
}
