.contacts {
	padding: 38px 0;
}

.contacts__wrapper {
	font-size: 14px;
	line-height: 30px;
}

.contacts__title {
	margin: 0;
	padding-bottom: 28px;
}

.contacts__email,
.contacts__address {
	padding-bottom: 30px;
}

.contacts__img {
	padding-top: 32px;
	padding-bottom: 42px;
}
