.contacts-text {
	font-size: 14px;
	line-height: 30px;
	display: flex;
	flex-direction: column;

	@media #{$not-mobile} {
		flex-direction: row;
	}

	@media #{$desktop-only} {
		flex-direction: column;
	}
}

.contacts-text__email {
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: auto 1fr;
}

.contacts-text__address {
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: auto 1fr;
}
