.contacts-text {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 14px;
	line-height: 30px;


	@media #{$not-mobile} {
		grid-template-columns: 50% 50%;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr;
	}
}


.contacts-text__email {
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: auto 1fr;
}

.contacts-text__address {
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: auto 1fr;
}
