.developed {
	padding: 22px 69px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media #{$not-mobile} {
		width: 180px;
		gap: 26px;
		padding: 0;
	}

	@media #{$desktop-only} {
		width: 183px;
		gap: 28px;
	}
}

.developed__label {
	display: block;
}

.developed__link {
	display: block;
	width: 35px;
	height: 35px;
	background-color: #63d1bb;
	mask-image: url("../../icons/stack.svg#htmlacademy");

	&:hover {
		background-color: #46c1ae;
	}

	&:active {
		opacity: 30%;
	}
}
