.form-box {
	padding: 0;
	margin: 0;
	border: none;

	display: flex;
	flex-direction: column;

	@media #{$not-mobile} {
		flex-direction: row;
	}
}

.form-box__legend {
	@media #{$not-mobile} {
		width: 25%;
	}

	@media #{$desktop-only} {
		width: 17%;
	}
}

.form-box__content-style {
	padding: 61px;
	display: flex;
	flex-direction: column;

	@media #{$not-mobile} {
		padding: 78px;
	}

	@media #{$desktop-only} {
		padding: 82px;
	}
}

.form-box__content-color {
	padding-left: 61px;
	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);

	@media #{$not-mobile} {
		--column-count: 2;
		padding: 78px;
	}

	@media #{$desktop-only} {
		--column-count: 3;
		padding: 82px;
	}
}
