.form {
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	padding-bottom: 55px;
}

.form__color {
	padding: 0;
	border: none;
}

.form__contact {
	display: grid;
	padding: 50px 0;
	gap: 34px;
	column-gap: 0;

	@media #{$not-mobile} {
		grid-template-columns: 25% 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 17% 1fr;
	}
}


.form__tel-legend {
	display: block;
}


.form__icon {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		right: 6px;
		background-color: #000000;
		opacity: 20%;
		z-index: 1;
	}

	@media #{$desktop-only} {
		max-width: 700px;
	}
}

.form__icon:hover::before {
	background-color: #62d1ba;
	opacity: 100;
	z-index: 1;
}

.form__icon:active::before {
	background-color: #62d1ba;
	opacity: 100;
	z-index: 1;
}

.form__icon--tel {
	&::before {
		mask-image: url("../../icons/stack.svg#tel");
	}
}

.form__tel-tel.input {
	@media #{$not-mobile} {
		background-color: #f1f1f1;
	}

	@media #{$desktop-only} {
		max-width: 700px;
	}
}

.form__email-legend {
	display: block;
}

.form__email-email.input {
	@media #{$not-mobile} {
		background-color: #f1f1f1;
	}

	@media #{$desktop-only} {
		max-width: 700px;
	}
}

.form__icon--email {
	&::before {
		mask-image: url("../../icons/stack.svg#mail");
	}
}

.form__extra-legend {
	display: block;
	padding-top: 34.5px;
	padding-bottom: 22.5px;
}

.form__extra-extra {
	box-sizing: border-box;
	padding: 17px;
	font-size: 17px;
	line-height: 18px;
	max-width: 100%;
	border: 2px solid #444444;

	&:hover {
		border-color: #62d1ba;
	}

	&:active {
		border-color: #62d1ba;
	}

	&:focus {
		border-color: #62d1ba;
		outline: none;
	}
}


.form__send.form__contact {
	@media #{$desktop-only} {
		max-width: 700px;
	}
}

.form__text {
	display: block;

	@media #{$not-mobile} {
		order: 2;
		margin-left: auto;
	}
}

.form__button {
	@media #{$not-mobile} {
		width: 230px;
	}
}

.form__wrapper {
	@media #{$not-mobile} {
		background-color: #f1f1f1;
	}
}
