.header-nav {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"logo toogle"
		"menu menu"
		"user user";

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr;

		grid-template-areas:
			"logo user"
			"menu free";
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 149px 1fr;

		grid-template-areas:
			"menu logo user"
			"submenu . free";
	}
}

.header-nav__list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	padding-left: 75px;
	padding-top: 28px;
	padding-bottom: 27px;
	border: 1px solid #ececec;

	@media #{$not-mobile} {
		padding: 10px;
	}
}

.header-nav__logo {
	grid-area: logo;
	justify-self: center;
}


.header-nav__toogle {
	width: 20px;
	grid-area: toogle;

	@media #{$not-mobile} {
		visibility: collapse;
	}
}


.menu-list {
	grid-area: menu;
}


.user-list {
	grid-area: user;
}

.submenu-list {
	visibility: collapse;

	@media #{$desktop-only} {
		display: block;
		grid-area: submenu;
	}
}

.header-nav__slogan {
	visibility: collapse;

	@media #{$not-mobile} {
		display: block;
		grid-area: free;
	}
}
