.header-nav__list {
	padding: 0;
	margin: 0;
}

.header-nav__link {
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	color: #000000;
}

.site-list__item,
.user-list__item {
	display: block;
	padding-left: 75px;
	padding-top: 28px;
	padding-bottom: 27px;
	border: 1px solid #ececec;
}
