.inner-nav {
  position: relative;

  @media #{$not-mobile} {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    height: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: #ffffff;
    display: none;
    transform: translateY(8px);

    @media #{$not-mobile} {
      display: block;
      height: 25px;
      left: -50px;
      right: -50px;
      transform: translateY(14px);
      background: url("../../icons/stack.svg#wave") repeat-x center / 38.5px 24px;
    }

    @media #{$desktop-only} {
      height: 35px;
      background-repeat: repeat-x;
      background-size: 62.5px 36px;
    }
  }
}

.inner-nav__link {
  --link-fill: var(--accent-color);
  --transition-duration: 0.05s;
  display: block;
  width: 100%;
  padding-left: 30px;
  padding-top: 23px;
  padding-bottom: 18px;
  background-color: var(--link-fill);
  box-shadow: 0 var(--link-shift, 0) 0 0 var(--link-fill);
  transition: box-shadow var(--transition-duration);

  @media #{$not-mobile} {
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 36px;
  }

  @media #{$desktop-only} {
    padding-bottom: 34px;
  }

  &:hover {
    --link-shift: -5px;
    --icon-opacity: 70%;
    opacity: 100%;
  }

  &:active {
    --link-fill: #59d5bc;
    --icon-opacity: 30%;
    opacity: 100%;
  }

  &:focus-visible {
    z-index: 1;
  }

  &--toys {
    --link-fill: #56c3b2;

    &:hover {
      --link-fill: #46c1ae;
    }
  }
}


.inner-nav__text {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  transform: translateY(var(--link-shift, 0));
  transition: transform var(--transition-duration);

  &--toys {
    --icon: url("../../icons/stack.svg#toys");
  }

  &::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    transform: translateX(-25px);
    mask-image: var(--icon, url("../../icons/stack.svg#interior"));
    background-color: #149080;
    opacity: var(--icon-opacity, 50%);

    @media #{$not-mobile} {
      transform: translate(-29px, 5px);
    }

    @media #{$desktop-only} {
      transform: translate(-30px, 3px);
    }
  }

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 30px;
  }
}
