.input {
  box-sizing: border-box;
  flex-grow: 1;
  height: 17px;
  width: 100%;
  max-width: 100%;
  padding: 22px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  color: #000000;

  background-color: #ffffff;
  appearance: none;

  @media #{$desktop-only} {
    padding: 20px 0;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
    outline: none;
  }

  &::placeholder {
    color: #000000;
    opacity: 30%;
  }
}
