.input {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  padding: 6px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 32px;
  border: none;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: #ffffff;
  appearance: none;

  @media #{$desktop-only} {
    padding: 20px 0;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
    outline: none;
  }

  &::placeholder {
    color: var(--main-color);
    opacity: 30%;
  }
}
