.input {
	flex-grow: 1;
	height: 17px;
	width: 100%;
	margin: 0;
	padding: 17px 0;
	font-size: 17px;
	line-height: 18px;
	border: none;
	border-bottom: 2px solid #000000;
	background-color: #ffffff;
	cursor: pointer;
	appearance: none;

	&:hover {
		border-color: #62d1ba;
	}

	&:active {
		border-color: #62d1ba;
	}

	&:focus {
		border-color: #62d1ba;
		outline: none;
	}
}


.input-pseudo {
	position: absolute;
	display: grid;
	box-sizing: border-box;
	appearance: none;
	min-width: 42px;
	height: 42px;
	top: 50%;
	left: -61px;
	transform: translateY(-50%);
	cursor: pointer;
	border: 2px solid #444444;

	@media #{$not-mobile} {
		min-width: 52px;
		height: 52px;
		left: -130px;
	}

	&:hover {
		border-color: #61d1bb;
	}

	&:active {
		border-color: #b3b3b3;
		opacity: 30%;
	}

	&::after {
		content: "";
		transform: scale(0);
	}
}
