.label {
	box-sizing: border-box;
	display: flex;
	gap: 24px;
	height: 40px;
	align-items: center;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	color: #000000;
	cursor: pointer;

	@media #{$not-mobile} {
		font-size: 18px;
		line-height: 19px;
		padding: 15px 0;
		gap: 30px;
	}
}
