.legend {
	box-sizing: border-box;
	font-size: 17px;
	align-self: start;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #63d1bb;
	position: relative;
	display: block;
	width: 100%;

	@media #{$not-mobile} {
		display: block;
		width: auto;

		&::after {
			display: none;
		}

		@media #{$desktop-only} {
			justify-self: center;
		}
	}

	&::after {
		content: "";
		position: absolute;
		right: 0;
		left: 60px;
		bottom: 50%;
		height: 1px;
		background-color: #62d1ba;
	}
}

.legend span {
	display: block;
}
