.login {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media #{$desktop-only} {
		padding-right: calc(100% / 6);
	}
}

.login__name {
	@media #{$not-mobile} {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
}

.login__label {
	flex-basis: content;
	width: auto;
	padding-top: 22px;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
}

.login__input {
	grid-column: 2/3;
}
