.login {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 15px;

  @media #{$not-mobile} {
    padding-top: 0;
    gap: 22px;
  }

  @media #{$desktop-only} {
    padding-right: 20%;
  }
}

.login__name {
  @media #{$not-mobile} {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.login__label {
  flex-basis: content;
  width: auto;
  padding-top: 22px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media #{$not-mobile} {
    padding-top: 19px;
    font-size: 19px;
  }
}

.login__input.input {
  grid-column: 2 / 3;

  @media #{$not-mobile} {
    padding: 13px 0 8px 20px;
    font-size: 19px;
  }
}
