.logo__img svg {
	display: block;
	width: 100%;
}

.logo {
	object-fit: cover;
}

.logo__header {
	width: 86px;
	padding: 22px;
	margin: 0 auto;
	grid-area: logo;


	@media #{$not-mobile} {
		position: absolute;
		width: 114px;
		padding-left: 0;
		z-index: 1;
	}

	@media #{$desktop-only} {
		width: 149px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.logo__footer {
	width: 102px;

	&:hover {
		fill: #46c1ae;
	}

	&:active {
		opacity: 30%;
	}
}
