.main__wrapper {
	&::before {
		content: "";
		width: 320px;
		height: 283px;
		background: var(--bg-image) no-repeat center / cover;
	}

	@include bg-image("bg-image1");
}

.main__title {
	margin: 0;
	padding: 73px 0 121px;
	background: var(--bg-image) no-repeat center / cover;

	@include bg-image("bg-image1");
}
