.main {
	position: relative;
}

.main__container {
	background: var(--bg-image) no-repeat center / cover;

	@include bg-image("bg-image1");
	background-color: #f1f1f1;
}


.main__title {
	margin: 0;
	padding: 73px 0 121px;
	z-index: 3;
}
