.modal {
  box-sizing: border-box;
  width: 100%;
  max-width: 566px;
  padding: 15px 30px;
  text-align: center;
  color: var(--second-color);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgb(0 1 1 / 0.25);
  outline: 1px solid #c6c6c6;
  border: none;

  @media #{$not-mobile} {
    padding-top: 24px;
  }

  &::backdrop {
    background-color: rgb(255 255 255 / 0.8);
  }
}

.modal__title {
  margin-block: 13px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  @media #{$not-mobile} {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__form {
  padding: 0;
  margin: 0 auto;
  max-width: 350px;
}

.modal__legend {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  margin-block: 15px;

  @media #{$not-mobile} {
    font-size: 17px;
    margin-top: 0;
  }
}

.modal__fields {
  margin: 22px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(82px, 1fr));
  gap: 7px;

  @media #{$not-mobile} {
    margin-top: 20px;
  }
}

.modal__field {
  display: grid;
  grid-template-areas: "field";

  &::marker {
    color: transparent;
  }
}

.modal__label {
  grid-area: field;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  padding-block: 18px;
  pointer-events: none;
}

.modal__radio {
  grid-area: field;
  box-sizing: border-box;
  margin: 0;
  appearance: none;
  border: 2px solid hsl(var(--border-color, 0 0% 27%) / var(--border-alpha, 10%));
  outline-offset: 2px;

  &:checked {
    --border-color: 168 55% 60%;
    --border-alpha: 100%;
  }

  &:hover {
    --border-alpha: 30%;
  }
}

.modal__submit {
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: var(--accent-color);
  margin-block: 31px;
  border: none;
}
