.product {
	padding-top: 31px;
	padding-bottom: 41px;
}

.product__slogan {
	padding-top: 31px;
	padding-bottom: 17.5px;
}

.product__title {
	margin: 0;
}

.product__subtitle {
	margin: 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #63d1bb;
}

.product__form {
	line-height: 20px;
}

.product__feature {
	padding: 12px 0;
	border-bottom: 1px solid #ececec;
}

.product__value {
	padding: 12px 0;
	margin: 0;
	border-bottom: 1px solid #ececec;
}

.product__img {
	padding-top: 26px;
}

.product__cost {
	display: block;
	padding: 25px 0;
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
}
