.reviews {
	padding-top: 27px;
	padding-bottom: 45px;


	.reviews__wrapper {
		display: grid;
		grid-template-columns: 1fr;

		@media #{$not-mobile} {
			grid-template-columns: auto 175px;
			grid-template-rows: repeat(2, min-content);
		}
	}
}

.reviews__title {
	margin: 0;
	padding-bottom: 14px;

	@media #{$not-mobile} {
		grid-column: 1/2;
		grid-row: 1/2;
	}
}

.reviews__item {
	margin: 0;
}

.reviews__list {
	padding: 0;
	margin: 0;
	font-size: 15px;
	line-height: 30px;

	@media #{$not-mobile} {
		grid-column: 1/-1;
		grid-row: 2/3;
		z-index: 1;
	}
}

.reviews__text {
	margin: 0;
	padding-bottom: 3px;
}

.reviews__author {
	padding: 30px 0;
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
}

.reviews__link {
	font-weight: 400;
	line-height: 30px;
	color: #444444;
}

.reviews__toogle {
	display: flex;
	min-width: 175px;

	@media #{$not-mobile} {
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

/* .reviews__unto,
.reviews__next {
	width: 50px;
	height: 26px;
	padding: 13px 38px;   Это опишу в декоративке
}
 */
.reviews__write {
	width: 175px;

	@media #{$not-mobile} {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}
