.social {
	border-bottom: 1px solid #e5e5e5;

	@media #{$not-mobile} {
		border: 0;
	}
}

.social__list {
	width: 142px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	padding-top: 25px;
	padding-bottom: 28px;

	@media #{$not-mobile} {
		padding: 0;
	}
}

.social__link {
	width: 28px;
	height: 28px;
	background-color: #231f20;

	&:hover {
		background-color: #46c1ae;
	}

	&:active {
		opacity: 30%;
	}
}

.social__link--vk {
	mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--telegram {
	mask-image: url("../../icons/stack.svg#telegram");
}

.social__link--youtube {
	mask-image: url("../../icons/stack.svg#youtube");
}
