.social {
  border-bottom: 1px solid #e5e5e5;

  @media #{$not-mobile} {
    border: 0;
  }
}

.social__list {
  width: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 28px;

  @media #{$not-mobile} {
    padding: 0;
  }
}

.social__link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-color: #231f20;
  }

  &:hover::before {
    background-color: #46c1ae;
  }

  &:active::before {
    opacity: 30%;
  }
}

.social__link--vk::before {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--telegram::before {
  mask-image: url("../../icons/stack.svg#telegram");
}

.social__link--youtube::before {
  mask-image: url("../../icons/stack.svg#youtube");
}
