.video {
	padding-top: 22px;
	padding-bottom: 33px;

	display: grid;
	grid-template-columns: repeat(var(--column-count, 1), 1);

	@media #{$desktop-only} {
		--column-count: 2;
	}
}

.video__title {
	margin: 0;
	padding-left: 91px;
	padding-bottom: 26.5px;
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;

	@media #{$desktop-only} {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}

.video__player {
	@media #{$not-mobile} {
		order: -1;
	}

	@media #{$desktop-only} {
		grid-column: 1/2;
		grid-row: 1/4;
	}
}

.video__player-img {
	display: block;
	width: 100%;
}

.video__text {
	padding: 35px 0 41px 34px;
	font-size: 13px;
	line-height: 24px;

	@media #{$desktop-only} {
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

.video__button {
	@media #{$desktop-only} {
		grid-column: 2/3;
		grid-row: 3/4;
	}
}
