.video {
	padding-top: 22px;
	padding-bottom: 33px;
}

.video__title {
	margin: 0;
	padding-left: 91px;
	padding-bottom: 26.5px;
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
}

.video__text {
	padding: 35px 0 41px 34px;
	font-size: 13px;
	line-height: 24px;
}
