<nav class="header-nav">
	<a class="main-nav__link main-nav__interior">
		<div class="main-nav__wrapper">
			Предметы интерьера
		</div>
	</a>
	<a class="main-nav__link main-nav__toys">
		<div class="main-nav__wrapper">
			Детские игрушки
		</div>
	</a>
	<div class="main-nav__slogan card__slogan">
		<h2 class="main-nav__card">Вязаные корзинки</h2>
		<h3 class="main-nav__subtitle">Товар недели</h3>
	</div>
	</div>
</nav>
