<footer class="main-footer">
	<div class="main-footer__wrapper page__centerer">
		<a class="main-footer__logo link logo" href="../index.html">
			<img class="logo__footer logo" src="./img/logo.svg#footer" width="102" height="34" alt="Магазин «Мишка».">
		</a>
		<div class="main-footer__social social page__centerer">
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link social__link--vk" href="https://vk.com/htmlacademy">
						<span class="visually-hidden">Академия Вконтакте</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru">
						<span class="visually-hidden">Академия в Ютубе</span>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--telegram" href="https://t.me/htmlacademy">
						<span class="visually-hidden">Академия в Телеграмм</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main-footer__developed developed">
			<span class="developed__label">Разработано</span>
			<a class="developed__link" href="https://htmlacademy.ru/intensive/adaptive">
				<span class="visually-hidden">Лендинг интенсива «HTML и CSS. Адаптивная вёрстка и автоматизация».</span>
			</a>
		</div>
	</div>

</footer>
