<header class="main-header">
	<div class="main-header__wrapper page__centerer">
		<a class="main-header__logo" href="../index.html">
			<img class="main-header__img" src="../img/logo.svg" width="86" height="35" alt="Магазин «Мишка».">
		</a>
		<nav class="header-nav">
			<button class="header-nav__toogle" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="header-nav__wrapper">
				<ul class="header-nav__list site-list">
					<li class="site-list__item">
						<a class="header-nav__link" href="../catalog.html">
							Каталог товаров
						</a>
					</li>
					<li class="site-list__item">
						<a class="header-nav__link" href="form.html">
							Вязание на заказ
						</a>
					</li>
				</ul>
				<ul class="header-nav__list user-list">
					<li class="user-list__item">
						<a class="header-nav__link" href="#">
							Поиск по сайту
						</a>
					</li>
					<li class="user-list__item">
						<a class="header-nav__link" href="../templates/modal.twig">
							Корзина: пока пуста
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

</header>
