<header class="main-header">
	<nav class="main-nav">
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="main-nav__wrapper">
			<a class="main-header__logo logo">
				<img class="main-header__logo logo" src="../img/logo/mishka-logo-mobile.svg" width="86" height="35" alt="Магазин «Мишка».">
			</a>
			<ul class="main-nav__list site-list">
				<li class="site-list__item">
					<a href="#">
						Каталог товаров
					</a>
				</li>
				<li class="site-list__item">
					<a href="#">
						Вязание на заказ
					</a>
				</li>
			</ul>

			<ul class="main-nav__list user-list">
				<li class="user-list__item">
					<a href="#">
						Поиск по сайту
					</a>
				</li>
				<li class="user-list__item">
					<a href="#">
						Корзина: пока пуста
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
