<header class="main-header">
	<nav class="main-nav">
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="main-nav__wrapper">
		<a class="main-header__logo logo">
			<img class="main-header__logo logo main-header__logo--mobile" src="../img/logo/mishka-logo-mobile.svg" width="86" height="35" alt="Магазин «Мишка».">
		</a>
		<ul class="main-nav__list site-list">
			<li class="site-list__item">
				<a href="#">
					Каталог товаров
				</a>
			</li>
			<li class="site-list__item">
				<a href="#">
					Вязание на заказ
				</a>
			</li>
		</ul>

		<ul class="main-nav__list user-list">
			<li class="user-list__item user-list__item--search">
				<a href="#">
					<svg class="user-list__search-icon" width="18" height="18"></svg>
					Поиск по сайту
				</a>
			</li>
			<li class="user-list__item user-list__item--cart">
				<a href="#">
					<svg class="user-list__cart-icon" width="18" height="18"></svg>
					Корзина: пока пуста
				</a>
			</li>
		</ul>
		<a class="main-nav__link">
			<div class="main-nav__wrapper">
				Предметы интерьера
			</div>
		</a>
		<a class="main-nav__link">
			<div class="main-nav__wrapper">
				Детские игрушки
			</div>
		</a>
		<div class="main-nav__div">
			<h2 class="main-nav__card">Вязаные корзинки</h2>
			<h3 class="main-nav__subtitle">Товар недели</h3>
		</div>
		</div>
	</nav>

</header>
