<header class="main-header">
	<div class="main-header__container page__centerer page__centerer--mobile-off">
		<div class="main-header__logo logo logo__header">
			<a class="logo__link link" href="../index.html">
					<picture>
						<source media="(min-width: 1050px)" srcset="img/logo.svg#desktop">
						<source media="(min-width: 768px)" srcset="./img/logo.svg#tablet">
						<img class="logo__img" src="./img/logo.svg#mobile" width="86" height="35" alt="Магазин «Мишка».">
					</picture>
			</a>
		</div>

		<nav class="main-header__nav header-nav header-nav--closed header-nav--nojs">
			<button class="header-nav__toogle button" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="header-nav__wrapper">
				<ul class="header-nav__list menu-list">
					<li class="header-nav__item menu-list__item">
						<a class="menu-list__link link" href="../catalog.html">
							Каталог товаров
						</a>
					</li>
					<li class="header-nav__item menu-list__item">
						<a class="menu-list__link link" href="form.html">
							Вязание на заказ
						</a>
					</li>
				</ul>
				<ul class="header-nav__list user-list">
					<li class="header-nav__item user-list__item">
						<a class="user-list__link user-list__link--search link" href="javascript:undefined">
							<span class="user-list__sign user-list__sign--search">
								Поиск по сайту

							</span>
						</a>
					</li>
					<li class="header-nav__item user-list__item">
						<a class="user-list__link user-list__link--cart  link" href="../templates/modal.twig">
							<span class="user-list__sign">
								Корзина: пока пуста

							</span>
						</a>
					</li>
				</ul>
				<ul class="header-nav__list submenu-list">
					<li class="header-nav__item submenu-list__item">
						<a class="submenu-list__link link" href="javascript:undefined">
							Новые поступления
						</a>
					</li>
					<li class="header-nav__item submenu-list__item">
						<a class="submenu-list__link link" href="javascript:undefined">
							Распродажа
						</a>
					</li>
				</ul>
				<p class="header-nav__slogan">
					Бесплатная доставка по России
				</p>
			</div>
		</nav>
	</div>
</header>
