<div class="modal">
	<dialog class="modal__dialog page__centerer">
			<form class="modal__form" action="https://echo.htmlacademy.ru/" method="post">
			<h2 class="modal__title">Добавить в корзину</h2>
			<fieldset class="modal__form">
				<legend class="modal__text">Выберите размер:</legend>
				<div class="modal__buttons">
					<label class="modal__label" for="s">S
						<input class="modal__radio" type="radio" name="size" id="s" value="s" checked>
					</label>
					<label class="modal__label" for="m">M
						<input class="modal__radio" type="radio" name="size" id="m" value="m">
					</label>
					<label class="modal__label" for="l">L
						<input class="modal__radio" type="radio" name="size" id="l" value="l">
					</label>
					<input class="modal__vendor-code" type="hidden" name="vendor-code">
				</div>
			</fieldset>
			<button class="modal__button-button button" type="submit">Добавить</button>
		</form>
	</dialog>
</div>
