<div class="modal">
	<dialog class="modal__dialog">
		<button class="modal__close" type="button">
			<span class="visually-hidden">Закрыть</span>
		</button>
		<form class="modal__form" action="https://echo.htmlacademy.ru/" method="post">
			<h2 class="modal__title">Добавить в корзину</h2>
			<fieldset class="modal__wrapper page__centerer">
				<legend class="modal__text">Выберите размер:</legend>
				<label class="modal__label" for="s">S</label>
				<input class="modal__radio" type="radio" name="size" id="s" value="s">
				<label class="modal__label" for="m">M</label>
				<input class="modal__radio" type="radio" name="size" id="m" value="m">
				<label class="modal__label" for="l">L</label>
				<input class="modal__radio" type="radio" name="size" id="l" value="l">
				<input class="modal__vendor-code" type="hidden" name="vendor-code">
			</fieldset>
			<button class="modal__button-button button" type="submit">Добавить</button>
		</form>
	</dialog>

</div>
