<div class="modal">
	<button class="modal__close" type="button">
		<span class="visually-hidden">Закрыть</span>
	</button>
	<section class="modal__content">
		<div class="modal__wrapper page__centerer">
			<h2 class="modal__title">Добавить в корзину</h2>
		<span class="modal__text">Выберите размер</span>
		<button class="modal__button" type="button">S</button>
		<button class="modal__button" type="button">M</button>
		<button class="modal__button" type="button">L</button>
		<button class="madal__button-button button" type="button">Добавить</button>
		</div>

	</section>

</div>
