{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!-- ⚠️ Проверяющему ⚠️ -->

<!-- 🔷 Валидация и проверка БЭМ-классов включены в `npm run lint` 🔷 -->

<!-- 🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview` 🔷 -->

<main class="form-page">
	<div class="form-page__container">
		<h1 class="form-page__title headline">Вязание на заказ</h1>
	</div>
	<section class="form-page__order">
		<div class="form-page__wrapper page__centerer">
			<h2 class="form-page__subtitle visually-hidden">Форма заказа.</h2>
			<p class="form-page__text">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
		</div>
		<form class="form-page__form form" action="https://echo.htmlacademy.ru/" method="post">
			<div class="form__style form-box page__centerer" role="group" aria-labelledby="type">
				<div class="form-box__legend legend" id="type">Тип</div>

				<div class="form-box__content-style">
					<label class="form-box__label label" for="interior">
						<input class="form-box__radio input-pseudo" type="radio" name="style" id="interior" value="interior" checked>
						Аксессуар для интерьера
					</label>
					<label class="form-box__label label" for="toys">
						<input class="form-box__radio input-pseudo" type="radio" name="style" id="toys" value="toys">
						Детская игрушка
					</label>
				</div>
			</div>
			<div class="form__wrapper">
				<div class="form__color form-box  page__centerer" role="group" aria-labelledby="color">
					<div class="form-box__legend form-box__legend--color legend" id="color">Цвет</div>
					<div class="form-box__content-color">
						<label class="form-box__label label" for="white">
							<input class="form-box__checkbox  input-pseudo" type="checkbox" name="color" id="white" value="white" checked>Белый
						</label>
						<label class="form-box__label label" for="grey">
							<input class="form-box__checkbox  input-pseudo" type="checkbox" name="color" id="grey" value="grey" checked>
							Серый
						</label>
						<label class="form-box__label label" for="tiffany">
							<input class="form-box__checkbox input-pseudo" type="checkbox" name="color" id="tiffany" value="tiffany">
							Тиффани
						</label>
						<label class="form-box__label label" for="black">
							<input class="form-box__checkbox input-pseudo" type="checkbox" name="color" id="black" value="black">
							Черный
						</label>
						<label class="form-box__label label" for="pink">
							<input class="form-box__checkbox input-pseudo" type="checkbox" name="color" id="pink" value="pink">
							Розовый
						</label>
						<label class="form-box__label label" for="orange">
							<input class="form-box__checkbox input-pseudo" type="checkbox" name="color" id="orange" value="orange">
							Оранжевый
						</label>
					</div>
				</div>
			</div>
			<div class="form__login form-box page__centerer" role="group" aria-labelledby="fullname">
				<div class="form-box__legend legend" id="fullname">ФИО</div>
				<div class="form-box__content-login login">
					<div class="login__name">
						<label class="login__label" for="name">Имя:</label>
						<input class="login__input input" type="text" name="name" id="name" placeholder="Введите ваше имя*" required>
					</div>
					<div class="login__name">
						<label class="login__label" for="surname">Фамилия:</label>
						<input class="login__input input" type="text" name="surname" id="surname" placeholder="Укажите фамилию*" required>
					</div>
					<div class="login__name">
						<label class="login__label" for="patronymic">Отчество:</label>
						<input class="login__input input" type="text" name="patronymic" id="patronymic" placeholder="Отчество, если желаете">
					</div>
				</div>
			</div>
			<div class="form__wrapper">
				<div class="form__contact page__centerer" role="group" aria-labelledby="contacts">
					<div class="visually-hidden" id="contacts">Контакты</div>
					<label class="form__tel-legend legend" for="tel">тел</label>
					<div class="form__icon form__icon--tel">
						<input class="form__tel-tel input" type="tel" id="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ*" required>
					</div>
					<label class="form__email-legend legend" for="email">
						<span>E-mail</span>
						</label>
					<div class="form__icon form__icon--email">
						<input class="form__email-email input" type="email" id="email" placeholder="Ваш Email*" required>
					</div>
				</div>
			</div>
			<div class="form__add form__contact page__centerer">
				<label class="form__extra-legend legend" for="extra">Доп</label>
				<textarea class="form__extra-extra" name="extra" id="extra" cols="17" rows="6">Опишите все ваши пожелания к заказу</textarea>
			</div>
			<div class="form__send form__contact page__centerer">
				<p class="form__text" aria-hidden="true">*Поля обязательны для заполнения</p>
				<button class="form__button button" type="submit">Отправить заказ</button>
			</div>
		</form>
	</section>
</main>
{% endblock %}
