{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="form-page">
	<h1 class="form-page__title">Вязание на заказ</h1>
	<p class="form-page__text">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
	<section class="form-page__form form">
		<div class="form__wrapper page__centerer">
			<h2 class="form__title visually-hidden">Форма заказа.</h2>
			<form class="form__form" action="https://echo.htmlacademy.ru/" method="post">
				<fieldset class="form__style">
					<legend class="form__style-legend legend">Тип</legend>
					<input class="form__style-radio form__style-radio--checked" type="radio" name="style" id="interior" value="interior" checked>
					<label class="form__style-label" for="interior">Аксессуар для интерьера</label>
					<input class="form__style-radio" type="radio" name="style" id="toys" value="toys">
					<label class="form__style-label" for="toys">Детская игрушка</label>
				</fieldset>
				<fieldset class="form__color">
					<legend class="form__color-legend legend">Цвет</legend>
					<input class="form__style-checkbox" type="checkbox" name="color" id="white" value="white" checked>
					<label class="form__color-label" for="white">Белый</label>
					<input class="form__style-checkbox" type="checkbox" name="color" id="grey" value="grey" checked>
					<label class="form__color-label" for="grey">Серый</label>
					<input class="form__style-checkbox" type="checkbox" name="color" id="tiffany" value="tiffany">
					<label class="form__color-label" for="tiffany">Тиффани</label>
					<input class="form__style-checkbox" type="checkbox" name="color" id="black" value="black">
					<label class="form__color-label" for="black">Черный</label>
					<input class="form__style-checkbox" type="checkbox" name="color" id="pink" value="pink">
					<label class="form__color-label" for="pink">Розовый</label>
					<input class="form__style-checkbox" type="checkbox" name="color" id="orange" value="orange">
					<label class="form__color-label" for="orange">Оранжевый</label>
				</fieldset>
				<fieldset class="form__login">
					<legend class="form__login-legend legend">ФИО</legend>
					<label class="form__login-label label" for="name">Имя:</label>
					<input class="form__login-input input" type="text" name="name" id="name" placeholder="Введите ваше имя*" required>
					<label class="form__login-label label" for="surname">Фамилия:</label>
					<input class="form__login-input input" type="text" name="surname" id="surname" placeholder="Укажите фамилию*" required>
					<label class="form__login-label label" for="patronymic">Отчество:</label>
					<input class="form__login-input input" type="text" name="patronymic" id="patronymic" placeholder="Отчество, если желаете">
				</fieldset>
				<div class="form__tel">
					<label class="form__tel-legend legend" for="tel">тел</label>
					<input class="form__tel-tel" type="tel" id="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ*" required>
				</div>
				<div class="form__email">
					<label class="form__email-legend legend" for="email">E-mail</label>
					<input class="form__tel-tel" type="email" id="email" placeholder="Ваш Email*" required>
				</div>
				<div class="form__extra">
					<label class="form__extra-legend legend">Доп</label>
					<textarea class="form__extra-extra" name="extra" id="extra" cols="30" rows="10">Опишите все ваши пожелания к заказу</textarea>
				</div>
				<p class="form__text" aria-hidden="true">*Поля обязательны для заполнения</p>
				<button class="form__button button" type="submit">Отправить заказ</button>
			</form>
		</div>
	</section>
</main>
{% endblock %}
