{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main">
	<div class="main__container">
		<div class="main__wrapper page__centerer page__centerer--mobile-off">

			<h1 class="main__title heading">
				Милые штуки ручной <br> работы для дома
			</h1>
			<div class="main__nav-inner inner-nav">
				<a class="inner-nav__link link inner-nav__link--interior" href="javascript:undefined">
					<div class="inner-nav__text">
						Предметы <br> интерьера
					</div>
				</a>
				<a class="inner-nav__link link inner-nav__link--toys" href="javascript:undefined">
					<div class="inner-nav__text inner-nav__text--toys">
						Детские <br> игрушки
					</div>
				</a>
			</div>
		</div>
	</div>
	<section class="main__product product">
		<div class="product__wrapper page__centerer">
			<h2 class="product__title headline">Вязаные корзинки</h2>
			<h3 class="product__subtitle">Товар недели</h3>

			<div class="product__description">
				Экологически чистая пряжа, <br> ручная работа. Доступны в шести расцветках и трёх размерах.
			</div>
			<dl class="product__form">
				<dt class="product__feature">Цвет:</dt>
				<dd class="product__value">тиффани/серый</dd>
				<dt class="product__feature">Диаметр:</dt>
				<dd class="product__value">25 см</dd>
				<dt class="product__feature">Высота:</dt>
				<dd class="product__value">15 см</dd>
			</dl>
			<div class="product__image">
				{% include "./templates/picture.twig" with {name: "products/product1", class: "product__img", alt: "Фотография трех вязанных корзинок."} %}
			</div>
			<span class="product__cost">Цена: 990 руб.</span>
			<a class="product__button button" href="./templates/modal.twig">Заказать</a>
		</div>
	</section>
	<section class="main__advantages advantages">
		<div class="advantages__wrapper page__centerer">
			<h2 class="advantages__title headline">Коротко о нас:</h2>
			<ul class="advantages__list">
				<li class="advantages__item">Экологически чистые материалы</li>
				<li class="advantages__item">Связано вручную с любовью и умилением</li>
				<li class="advantages__item">Скандинавский стиль по российской цене</li>
				<li class="advantages__item">Поддержка отечественного производителя</li>
				<li class="advantages__item">Увеличивает лайки на фотографиях</li>
				<li class="advantages__item">Поставляется в подарочной упаковке</li>
			</ul>
		</div>
	</section>
	<section class="main__reviews reviews">
		<div class="reviews__wrapper page__centerer">
			<h2 class="reviews__title headline">Отзывы</h2>
			<div class="reviews__list">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Анастасия Красильникова
						<a class="reviews__link" href="javascript:undefined">@misssssiskras</a>
					</figcaption>
				</figure>
			</div>
			<div class="reviews__list visually-hidden">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров
						и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают
						больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Екатерина Красильникова
						<a class="reviews__link" href="javascript:undefined">@misssssiskras2</a>
					</figcaption>
				</figure>
			</div>
			<div class="reviews__list visually-hidden">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я двоюродная сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Елена Красильникова
						<a class="reviews__link" href="javascript:undefined">@misssssiskras3</a>
					</figcaption>
				</figure>
			</div>
			<div class="reviews__toogle">
				<button class="reviews__unto" type="button">
					<span class="visually-hidden">Предыдущий отзыв</span>
				</button>
				<button class="reviews__next" type="button">
					<span class="visually-hidden">Следующий отзыв</span>
				</button>
			</div>
			<a class="reviews__write link" href="javascript:undefined">Написать</a>
		</div>
	</section>
	<div class="main__contacts-container page__centerer page__centerer--desktop-on">
		<section class="contacts">
			<div class="contacts__text page__centerer page__centerer--desktop-off">
				<h2 class="contacts__title headline">Контакты</h2>
				<div class="contacts-text">
					<div class="contacts-text__email">
						<span class="contacts-text__email-label">e-mail:</span>
						<span class="contacts-text__email-email">info@mimimishkashop.ru</span>
					</div>
					<div class="contacts-text__address">
						<span class="contacts-text__address-label">адрес:</span>
						<address class="contacts-text__address-address">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</address>
					</div>
				</div>
			</div>
			<div class="contacts__image">
				{% include "./templates/picture.twig" with {name: "map", class: "contacts__img", alt: "Поисково-информационная карта."} %}
			</div>
			<a class="contacts__write link page__centerer" href="javascript:undefined">Напишите нам</a>
		</section>
	</div>

</main>
{% endblock %}
