{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-conteiner main">
	<div class="main__wrapper page__centerer">
		<h1 class="main__title heading">
			Милые штуки ручной работы для дома
		</h1>
		<img class="main__img" src="./img/hero-mobile.jpg" width="320" height="283" alt="Фотография примеров разных изделий ручной работы.">
		<nav class="main__nav main-nav">
			<a class="main-nav__link main-nav__interior" href="#">
				<div class="main-nav__wrapper">
					Предметы интерьера
				</div>
			</a>
			<a class="main-nav__link main-nav__toys">
				<div class="main-nav__wrapper">
					Детские игрушки
				</div>
			</a>
		</nav>
	</div>

	<section class="product">
		<div class="product__wrapper page__centerer">
			<div class="product__slogan">
				<h2 class="product__title headline">Вязаные корзинки</h2>
				<h3 class="product__subtitle">Товар недели</h3>
			</div>
			<div class="product__description">
				Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.
			</div>
			<dl class="product__form">
				<dt class="product__feature">Цвет:</dt>
				<dd class="product__value">тиффани/серый</dd>
				<dt class="product__feature">Диаметр:</dt>
				<dd class="product__value">25 см</dd>
				<dt class="product__feature">Высота:</dt>
				<dd class="product__value">15 см</dd>
			</dl>
			<picture>
				<source type="image/avif" media="(min-width: 1150px)" srcset="img/products/product1-desktop@1.avif 1x,
				img/products/product1-desktop@2.avif 2x,
				img/products/product1-desktop@3.avif 3x">
				<source type="image/avif" media="(min-width: 768px)" srcset="img/products/product1-tablet@1.avif 1x,
				img/products/product1-tablet@2.avif 2x,
				img/products/product1-tablet@3.avif 3x">
				<source type="image/avif" srcset="img/products/product1-mobile@1.avif 1x,
				img/products/product1-mobile@2.avif 2x,
				img/products/product1-mobile@3.avif 3x">
				<source type="image/webp" media="(min-width: 1150px)" srcset="img/products/product1-desktop@1.webp 1x,
				img/products/product1-desktop@2.webp 2x,
				img/products/product1-desktop@3.webp 3x">
				<source type="image/webp" media="(min-width: 768px)" srcset="img/products/product1-tablet@1.webp 1x,
				img/products/product1-tablet@2.webp 2x,
				img/products/product1-tablet@3.webp 3x">
				<source type="image/webp" srcset="img/products/product1-mobile@1.webp 1x,
				img/products/product1-mobile@2.webp 2x,
				img/products/product1-mobile@3.webp 3x">
				<source media="(min-width: 1150px)" srcset="img/products/product1-desktop@1.jpg 1x,
				img/products/product1-desktop@2.jpg 2x,
				img/products/product1-desktop@3.jpg 3x">
				<source media="(min-width: 768px)" srcset="img/products/product1-tablet@1.jpg 1x,
				img/products/product1-tablet@2.jpg 2x,
				img/products/product1-tablet@3.jpg 3x">
				<img class="product__img" src="img/products/product1-mobile@1.jpg" srcset="img/products/product1-mobile@2.jpg 2x,
				img/products/product1-mobile@3.jpg 3x" alt="Фотография трех вязанных корзинок.">
			</picture>
			<span class="product__cost">Цена: 990 руб.</span>
			<a class="product__button button" href="./templates/modal.twig">Заказать</a>
		</div>
	</section>
	<section class="advantages">
		<div class="advantages__wrapper page__centerer">
			<h2 class="advantages__title headline">Коротко о нас:</h2>
			<ul class="advantages__list">
				<li class="advantages__item">Экологически чистые материалы</li>
				<li class="advantages__item">Скандинавский стиль по российской цене</li>
				<li class="advantages__item">Увеличивает лайки на фотографиях</li>
				<li class="advantages__item">Связано вручную с любовью и умилением</li>
				<li class="advantages__item">Поддержка отечественного производителя</li>
				<li class="advantages__item">Поставляется в подарочной упаковке</li>
			</ul>
		</div>
	</section>
	<section class="reviews">
		<div class="reviews__wrapper page__centerer">
			<h2 class="reviews__title headline">Отзывы</h2>
			<div class="reviews__list">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Анастасия Красильникова
						<a class="reviews__link" href="#">@misssssiskras</a>
					</figcaption>
				</figure>
			</div>
			<div class="reviews__list">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров
						и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают
						больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Екатерина Красильникова
						<a class="reviews__link" href="#">@misssssiskras2</a>
					</figcaption>
				</figure>
			</div>
			<div class="reviews__list">
				<figure class="reviews__item">
					<blockquote class="reviews__text">
						Я двоюродная сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</blockquote>
					<figcaption class="reviews__author">
						Елена Красильникова
						<a class="reviews__link" href="#">@misssssiskras3</a>
					</figcaption>
				</figure>
			</div>
			<button class="reviews__toogle">
				<span class="visually-hidden">Предыдущий отзыв</span>
			</button>
			<button class="reviews__toogle">
				<span class="visually-hidden">Следующий отзыв</span>
			</button>
			<a class="reviews__write" href="#">Написать</a>
		</div>
	</section>
	<section class="contacts page__centerer">
		<div class="contacts__wrapper page__centerer">
			<h2 class="contacts__title headline">Контакты</h2>
			<div class="contacts__email">
				<span class="contacts__email-label">e-mail:</span>
				<span class="contacts__email-email">info@mimimishkashop.ru</span>
			</div>
			<div class="contacts__address">
				<span class="contacts__address-label">адрес:</span>
				<address class="contacts__address-address">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</address>
			</div>
		</div>
		<img class="contacts__img" src="./img/map-mobile.jpg" width="320" height="455" alt="Поисково-информационная карта.">
{# Здесь, наверное, тоже будет ссылка вместо кнопки #}
		<button class="contacts__write page__centerer" type="button">Напишите нам</button>
	</section>
</main>
{% endblock %}
